<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="../../dist/css/tailwind.css">
	<link rel="stylesheet" href="../../src/css/custom.css">
	<script src="../../dist/js/GLOBAL.js"></script>

</head>

<body class="page-home">
	
	<div class="svgs-hidden">
		<!--  AJAX CONTENT-->
	</div>

	<div class="grid w-screen h-screen place-items-center ">
		<p class="p-12">Hello World 🐲</p>

	</div>


	<script src="../../dist/js/main.js"></script>

</body>

</html>